body {
  background-color: #fff;
  color: #264040;
  max-width: 800px;
  margin: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 10px;
}

.blue {
  color: #9999ff;
}

.all-green {
  color: #8fb46d;
}

.green {
  color: #00cc00;
}

.all-red {
  color: #f95824;
}

.red {
  color: red;
}

.icon {
  margin-right: 0.3em;
}

.clickable {
  cursor: pointer;
}

.sensors, .switches, .switch-groups, .master-switches, .camera-switches, .cameras {
  max-width: 790px;
  background-color: #e6e6e6;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
}

.tag-name {
  grid-area: tag-name;
}

.tag-temperature {
  grid-area: tag-temperature;
  margin-left: 5px;
}

.tag-humidity {
  grid-area: tag-humidity;
}

.tag-pressure {
  grid-area: tag-pressure;
}

.sensor-name {
  grid-area: sensor-name;
}

.sensor-temperature {
  grid-area: sensor-temperature;
  margin-left: 5px;
}

.sensor-humidity {
  grid-area: sensor-humidity;
  grid-column-start: 2;
  grid-column-end: 3
}

.switch-name {
  grid-area: switch-name;
  font-size: 1em;
  margin-left: 20px;
}

.switch-status {
  grid-area: switch-status;
  font-size: 3em;
  margin-left: 25px;
  padding-top: 10px;
}

.tag-name, .sensor-name, .switch-status, .switch-name, .camera-name {
  color: #626262;
  font-style: normal;
  text-transform: uppercase;
}

.switch-status, .switch-name, .camera-name {
  justify-self: center;
}

.camera-name {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.camera-status {
  font-size: 2em;
}

.tag-name, .sensor-name {
  justify-self: left;
  font-size: 1.9em;
  font-family: "League Gothic";
  margin-left: 5px;
}

.tag, .sensor {
  margin: 5px 0 5px 0;
  background-color: #d9d9d9;
  padding: 5px 0 10px 0;
  border-bottom-color: #c0c0c0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 32% 32% 32%;
}

.switches, .switch-groups, .cameras {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.master-switches {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.switch, .master-switch {
  height: 105px;
  background-color: #d9d9d9;
  padding: 5px 0 5px 0;
  border-bottom-color: #c0c0c0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "switch-status"
    "switch-name";
}

.camera {
  height: 105px;
  background-color: #d9d9d9;
  padding: 5px 0 5px 0;
  border-bottom-color: #c0c0c0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: grid;
  grid-gap: 5px;
}

.master-switch, .switch, .camera {
  grid-template-columns: 98%;
}

.tag {
  grid-template-areas:
    "tag-name tag-name tag-name"
    "tag-temperature tag-humidity tag-pressure";
}

.sensor {
  grid-template-areas:
    "sensor-name sensor-name sensor-name"
    "sensor-temperature sensor-humidity sensor-humidity";
}

.tag div i, .sensor div i {
  font-size: 2em;
}

.tag-temperature, .tag-humidity, .tag-pressure, .sensor-temperature, .sensor-humidity {
  justify-self: left;
  font-size: 1.5em;
  font-weight: bold;
}
