<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Jori Lytter">
    <meta name="description" content="Kotio home automation">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style/fonts/leaguegothic/stylesheet.css">
    <link rel="stylesheet" href="./style/fonts/opensans/stylesheet.css">
    <link rel="apple-touch-icon" sizes="57x57" href="./images//apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Kotio</title>
  </head>
  <body>
    <div id="app">
      <div class="sensors" v-if="hasSensors">
        <div v-for="tag in ruuvitags">
          <ruuvitag v-if="tag.data" :tag="tag"></ruuvitag>
        </div>
        <div v-for="sensor in tellstickSensors">
          <tdsensor v-if="sensor.id" :sensor="sensor"></tdsensor>
        </div>
      </div>
      <div class="master-switches" v-if="hasControllables">
        <masterswitch-on :devices="tellstickSwitches.devices" :switchgroups="tellstickSwitches.groups"></masterswitch-on>
        <masterswitch-off :devices="tellstickSwitches.devices" :switchgroups="tellstickSwitches.groups"></masterswitch-off>
      </div>
      <div class="switches" v-if="hasSwitches">
        <div v-for="device in tellstickSwitches.devices">
          <tdswitch v-if="device.id" :device="device"></tdswitch>
        </div>
      </div>
      <div class="switch-groups" v-if="hasSwitchGroups">
        <div v-for="group in tellstickSwitches.groups">
          <tdswitch v-if="group.id" :device="group"></tdswitch>
        </div>
      </div>
      <div class="switch-groups" v-if="hasHueGroups">
        <div v-for="group in hueGroups" >
          <hueswitch :group="group"/>
        </div>
      </div>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
